.container {
  max-width: 860px;
  width: 500px;
  margin: 0 auto;
  padding: 32px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 18px 20px 15px 0px #333;
  border-radius: 8px;
}

.heading {
  text-align: center;
  font-size: 46px;
  padding-top: 16px;
  font-weight: 300;
  color: purple;
}

button {
  outline: none;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.danger {
  background-color: red;
  color: #fff;
}

.primary {
  background-color: blue;
  color: #fff;
  flex-basis: 20%;
}

.input-form {
  padding: 12px 18px;
  border: 1px solid #333;
  border-radius: 4px;
  flex-basis: 80%;
}

form {
  display: flex;
  margin-top: 36px;
  gap: 12px;
}

.filter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: auto;
}

.filter input {
  margin-right: 8px;
}

.todo_list {
  margin: 36px 0;
}

label {
  cursor: pointer;
}

.item {
  background-color: rgb(238, 237, 237);
  margin-top: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  overflow-x: hidden;
}

.item label {
  cursor: pointer;
  display: flex;
}

.item button {
  transform: translateX(120%);
}

.item:hover button {
  display: block;
  transform: translateX(0);
  transition: transform 0.35s linear;
}

.item input {
  margin-right: 12px;
}

.todo_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-option {
  display: flex;
}